h2 {
    color: red;
    font-family: "Big Shoulders Stencil", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
 h1 {
  color: white;
  font-family: "Playwrite IT Moderna", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
 }

header {
    text-align: center;
    background-size: cover;
    color: white;
    background-color: palevioletred;
  }

.whiteLink {
    color: white;
  }


  .special {
    display: inline;
    padding: 0px 10px 0px 10px;
  }

  article {
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
  }

  .greyTag {
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
  }

  img {
    margin: 40px 0px 0px 0px;
    border: 7px solid white;
    border-radius: 40px;
  }

  